server {
  listen 80;
  server_name api-pesquisa-times.globosat.tv;

  access_log /var/log/nginx/api-pesquisa-times-flask-acc.log;
  error_log  /var/log/nginx/api-pesquisa-times-flask-err.log error;

  location / {
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header Host api-pesquisa-times-flask.cloud.globoi.com;
    proxy_redirect off;
    proxy_buffering on;
    proxy_pass_header ETag;
    proxy_connect_timeout 600s;
    proxy_read_timeout 600s;
    proxy_pass http://api-pesquisa-times-flask.cloud.globoi.com;

    expires 60s;

    location ~ vote {
      proxy_pass http://api-pesquisa-times-flask.cloud.globoi.com;

      expires -1;
    }
  }
}
