server {
  listen 80;
  listen [::]:80;
  server_name api-video-gnews.globosat.tv test-vip-nocache.globosat.tv;

  access_log /var/log/nginx/globonews-api-django-acc.log;
  error_log  /var/log/nginx/globonews-api-django-err.log error;

  location / {
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header Host api-video-gnews.cloud.globoi.com;
    proxy_redirect off;
    proxy_buffering on;
    proxy_pass_header ETag;
    proxy_connect_timeout 600s;
    proxy_read_timeout 600s;
    proxy_pass http://api-video-gnews.cloud.globoi.com;
    expires 60s;
  }
}
