
server {
  listen 80;
  server_name notificacao.globosat.tv;

  access_log /var/log/nginx/svc-notificacao-django-acc.log;
  error_log /var/log/nginx/svc-notificacao-django-err.log error;

  root /www/projects/python/svc-notificacao-django;

  location / {
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header Host $http_host;
    proxy_redirect off;
    proxy_buffering on;
    proxy_connect_timeout 30s;
    proxy_read_timeout 30s;
    proxy_pass http://gsatapp.globoi.com:8043;
  }

  location ~ ^/static/(.*)$ {
    alias /www/projects/python/svc-notificacao-django/static/$1;
    allow all;
  }

  location ~ ^/media/(.*)$ {
    alias /www/projects/python/svc-notificacao-django/media/$1;
    allow all;
  }

  location /robots.txt {
    alias /www/projects/python/svc-notificacao-django/robots.prod.txt;
  }

  location /clientaccesspolicy.xml {
    alias /www/projects/python/svc-notificacao-django/clientaccesspolicy.xml;
  }

  location ^~ /admin/ { # restrict access to admin section
    return 404;
  }
}

server {
  listen 80;
  server_name media.notificacao.globosat.tv;

  # access_log /var/log/nginx/svc-notificacao-django-acc.log;
  error_log /var/log/nginx/svc-notificacao-django-err.log error;

  root /www/projects/python/svc-notificacao-django/media;

  location ~ ^/(.*)$ {
    alias /www/projects/python/svc-notificacao-django/media/$1;
    allow all;
  }
}

server {
  listen 80;
  server_name static.notificacao.globosat.tv;

  # access_log /var/log/nginx/svc-notificacao-django-acc.log;
  error_log /var/log/nginx/svc-notificacao-django-err.log error;

  root /www/projects/python/svc-notificacao-django/static;

  location ~ ^/(.*)$ {
    alias /www/projects/python/svc-notificacao-django/static/$1;
    allow all;
  }
}
